:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--nave-blue: #2e2f42;
	--white: #fff;
	--cloud: #f4f4fd;
	--slate: #434455;
	--cloud: #f4f4fd;
	--font-family: 'Roboto', sans-serif;
	--second-family: 'Raleway', sans-serif;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	color: #434455;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.headline-main {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--white);
	text-align: center;
}
.one {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--nave-blue);
}
.two {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.icon-second {
	color: var(--cloud);
}
.logo {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}
.icon {
	color: var(--nave-blue);
}

.item a {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--nave-blue);
}

.contact {
	font-style: normal;
}

.info a {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--slate);
}

.post:hover,
.post:active {
	color: #404bbf;
}

.headline {
	background-color: var(--nave-blue);
}
.btn {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white);
	background-color: var(--iris);
	cursor: pointer;
}

.headline-second,
.headline-third {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--nave-blue);
	text-align: center;
	text-transform: capitalize;
}
.background {
	background-color: #f4f4fd;
}
.cards {
	background-color: var(--cloud);
}

.image {
	background: var(--white);
}

.footer {
	background: var(--nave-blue);
}
.text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--cloud);
}
.second-logo {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.link:hover,
.link:focus {
	color: #404bbf;
}

.btn:hover,
.btn:focus {
	background-color: #404bbf;
}
